<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>
    <nav>
        <a th:href="@{/ratings}">Rate My CS Teaching Staff</a>
        <a th:href="@{/ratings/new}" id="addRating">+ Add Rating</a>
    </nav>

    <main>
        <h1 th:text="${profile.displayTitle()}">Name</h1>
    
        <table>
            <tr><th>Email</th><td th:text="${rating.email}"></td></tr>
            <tr><th>Role</th><td th:text="${rating.roleType}"></td></tr>
            <tr><th>Clarity</th><td th:text="${rating.clarity}"></td></tr>
            <tr><th>Niceness</th><td th:text="${rating.niceness}"></td></tr>
            <tr><th>Knowledgeable</th><td th:text="${rating.knowledgeableScore}"></td></tr>
            <tr><th>Overall Score</th><td th:text="${rating.overallScore}"></td></tr>
            <tr><th>Comment</th><td th:text="${rating.comment}"></td></tr>
        </table>
    </main>

    <footer> &copy Rate My CS Teaching Staff</footer>
</body>
</body>
</html>